.album-card {
    padding: 2rem;
    border-radius: 3rem;
}

.album-cover {
    border-radius: 0.5rem;
    width: 100%;
    height: auto;
}

.album-titulo {
    color: white;
    font-weight: 700;
    margin-bottom: 1rem;
}

.album-fecha {
    color: white;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.album-descripcion {
    color: white;
    line-height: 1.8;
}

.tracklist {
    padding: 2rem;
    border-radius: 2rem;
    list-style-position: inside;
}

.tracklist li {
    padding: 0.5rem;
    border-bottom: 1px solid white;
}

.tracklist li:last-child {
    border-bottom: none;
}

.tracklist li:hover {
    background-color:white;
    padding-left: 1rem;
}

.album-placeholder {
    border-radius: 0.5rem;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}