.twice{
    width: 1850px;
}
.centro{
    text-align: center;
    border: 5px solid black;
}
.ig{
    width: 50px;
    height: 50px;
}
.x{
    width: 50px;
    height: 50px;
}
.face{
    width: 50px;
    height: 50px;
}

.you{
    width: 60px;
    height: 60px;
}
.fans{
    width: 50px;
    height: 50px;
}
.shop{
    width: 50px;
    height: 50px;
}
