/* Navegacion */
.bg-twice {
    box-shadow: 0.5rem;
}

.navbar {
    padding: 1rem;
}

.navbar-brand {
    font-weight: 700;
    font-size: 1.5rem;
}
.brand-text {
    color: black;
    font-weight: 800;
    letter-spacing: 2px;
}

.nav-link {
    color: black;
    font-weight: 600;
    margin: 1rem;
    position: relative;
}

.nav-link::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
}

.nav-link:hover::before,
.nav-link.active::before {
    width: 100%;
}

.nav-link:hover,
.nav-link.active {
    color: #FF0090;
}

/*  inicio */
.inicio-section {
    
    padding: 4rem;
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inicio-img {
    border-radius: 1rem;
    box-shadow: 4rem;
    max-width: 100%;
    height: auto;
}
.link {
    text-decoration: none;
    color: inherit;
}

.social-card {
    padding: 0.5rem;   
    border-radius: 0.5rem;
}

.social-card:hover {
    box-shadow: 0.5rem;
}

.icon {
    width: 60px;
    height: 60px;
    object-fit: contain;
}

.info {
    background-color: white;
}
