.miembros-card {
    background: #FF0090;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 1rem;
    margin-bottom: 2rem;
}

.miembros-card:hover {
    box-shadow: 3rem;
}

.lider-card {
    border: 3px#FF0090;
}

.nombre {
    color: 0.5rem;
    font-weight: 700;
    margin-bottom: 4rem;
}

.rol {
    font-size: 0.9rem;
    padding: 0.5rem;
}

.info {
    padding: 1rem;
    border-radius: 0.25rem;
    margin: 1rem;
    border-left: 4px #FF0090 ;
}

.descripcion {
    color: white;
    line-height: 1.8;
}

.infomacion-grupal {
    background: white;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0.25rem;
    height: 100%;
}

.infomacion-grupal:hover {
    box-shadow: 0.5rem;
}

.infomacion-grupal h4 {
    color: #FF0090;
    margin-bottom: 1rem;
}

.infomacion-grupal ul {
    list-style: none;
    padding-left: 0;
}

.infomacion-grupal li {
    padding: 0.5rem 0;
    border-bottom: 1px solid #eee;
}

.infomacion-grupal li:last-child {
    border-bottom: none;
}