/* reset */
@use "../util/Variables" as *;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: $color-twice;
    font-size: $font-size-base;
}

footer{
    color: $color-tipo;
}